* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board {
  width: 80vmin;
  height: 80vmin;
  max-height: 1000px;
  max-width: 1000px;
  position: relative;
  margin: 5vmin;
  padding: 0;
}

.quarter {
  width: 50%;
  height: 50%;
  border: 2px solid black;
}

/* .quarter:hover {
  border: 10px solid gray;
} */

.top-left {
  border: 2px solid black;
  border-top-left-radius: 100%;
  background: rgba(255, 255, 0, 0.5);
  float: left;
}

.top-right {
  border-top-right-radius: 100%;
  background: rgba(0, 0, 255, 0.5);
  float: right;
}

.bottom-left {
  border-bottom-left-radius: 100%;
  background: rgba(255, 0, 0, 0.5);
  float: left;
}

.bottom-right {
  border-bottom-right-radius: 100%;
  background: rgba(0, 128, 0, 0.5);
  float: right;
}
.fill-circle {
  width: 40%;
  height: 40%;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  margin: 30%;
  color: black;
  font-size: 8vmin;
}

header {
  display: flex;
  width: 100vw;
  align-items: center;
  height: 10vh;
  background-color: lightgray;
}

#game-start-btn {
  margin: 10px;
  font-size: 3vw;
  border-radius: 10%;
  background-color: white;
  width: 10vw;
  min-width: 75px;
}

#game-message {
  width: 75vw;
  font-size: 5vw;
  /* background-color: white; */
  margin: auto;
}

#game-score {
  margin: 10px 10px 10px auto;
  background-color: white;
  font-size: 3vw;
  border-style: solid;
  width: 10vw;
  min-width: 75px;
}

/* header > div:last-child {
  margin-left: auto;
} */

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}
